/* Navbar Styles */
.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #ccc;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #ccc;
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 1.5rem 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #ccc;
}
